.footer{
    display: flex;
    position: fixed;
    border-top: 1px solid lightgrey;
    padding: 8px;
    bottom: 0;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
}
.icons{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
a{
    color: black;
}
